<div id="vs-end" class="welcome form-grid">
  <div class="welcome__intro">
    <div class="intro__inner formatted-text">
      <h1>Amazon IVS with ChimeSDK</h1>
      <h3>
        Create or join rooms, and watch Amazon IVS streams with anyone.
      </h3>
    </div>
  </div>

  <div class="welcome__content pd-4">
    <div class="content__inner formatted-text">
      <h2 class="mg-b-2">Room closed</h2>
      <p>The host has ended the meeting and closed the room.</p>
      <a @click="handleHome" class="mg-t-3 btn btn--primary">
        Create a new room
      </a>
    </div>
  </div>
</div>
