<div id="vs-meeting">
  <audio ref="audioElementRef" :style="{ display: 'none' }"></audio>

  <div class="app-grid" @click.stop="handleClick">
    <div v-if="chime.audioVideo" class="main-stage">
      <div class="cams pos-relative">
        <LocalVideo :joinInfo="data.joinInfo" />
        <RemoteVideoGroup  :joinInfo="data.joinInfo" />
      </div>
      <VideoPlayer
        :setMetadataId="setMetadataId"
        :videoStream="data.playbackURL"
      />
      <Controls
        :openSettings="openSettings"
        :myVideoElement="$refs.myVideoElement"
      />
    </div>
    <Chat v-if="data.joinInfo"
      :data="data"
    />
    <Settings v-if="showSettings"
      :joinInfo="data.joinInfo"
      :saveSettings="saveSettings"
      :closeSettings="closeSettings"
    />
  </div>

  <Error v-if="showError" :closeError="closeError" :errorMsg="errorMsg" />
</div>
